@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background: #0866ff;
  border-radius: 10px;
  color: white;
}

.active-link {
  background: #0866ff;
  border-radius: 10px;
  color: white;
  padding: 12px;
}
